torchvision
einops
torchmetrics
wandb
pyyaml
scikit-learn
pandas
matplotlib
meshio
pytest
h5py
torch_scatter -f https://data.pyg.org/whl/torch-2.5.1+cu124.html
torch_cluster -f https://data.pyg.org/whl/torch-2.5.1+cu124.html
kappabenchmark
kappaconfig
kappadata
kappamodules
kappaprofiler
kappautils
neuraloperator
torch_geometric
torch_harmonics # requirement for neuraloperator but not in dependency tree of neuraloperator
wget